body {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

.input-group > #url {
    border-right: 0;
}

.input-group-btn > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-btn > .submit-url {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
